/*  google fonts */

@import url('https://fonts.googleapis.com/css?family=Lato');

/* End google fonts */

body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body a{
  text-decoration: none!important;
}

/* Css Colours */

/*  background colours*/


.bg-dark{
  background-color: #343a40;
}
.bg-gray{
  background-color:#6c757d;
}

.bg-light{
  background-color: #f8f9fa;
}

.bg-white{
  background-color: #fff;
}

.bg-danger{
  background-color: #dc3545;
}

.bg-primary{
  background-color: #130730;
}

.bg-yellow{
  background-color: #f7b205;
}

.bg-success{
  background-color: #28a745;
}

/* Text colors */

.text-dark{
  color: #343a40;
}
.text-gray{
  color:#6c757d;
}

.text-light{
  color: #f8f9fa;
}

.text-white{
  color: #fff;
}

.text-danger{
  color: #dc3545;
}

.text-primary{
  color: #130730;
}

.text-yellow{
  color: #f7b205;
}

.text-success{
  color: #28a745;
}

/* End Css Colours */

.content{
  width: 100%;
}

.container{
  position: relative;
  top: calc(10%);
  width: 80%;
  margin: 0 auto;
  height: calc(70%);
  padding: 50px 20px;
  box-sizing: border-box;
}

.btn{
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: .3s;
  border: none;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}


/* Position css */


.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

/* End Position css */



/* Border css */

.border-bottom{
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.border-top{
  border-top: 1px solid rgba(0,0,0,.1);
}
.border-left{
  border-left: 1px solid rgba(0,0,0,.1);
}
.border-right{
  border-right: 1px solid rgba(0,0,0,.1);
}

/* End Border css */



/* Form css */

.form {
  position: relative;
  margin: 0 auto;
  width: calc(50%);
  margin-bottom: 100px;
}

.form .checkbox{
  vertical-align: center;
}

.form .form-image{
  border: none!important;
}

.form-footer{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1.5em;
}

.form .form-footer a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 20px 10px;

}

.form-group{
  padding: 10px 10px;
}
.form-group label{
  margin: 10px 12px;
}

.form-control{
  border: none;
  border-bottom: 1px solid #130730;
  padding: 1em .9em;
  width: calc(100%);
  background-color: transparent;
  color: #6c757d ;
  font-size: .9em;
  box-sizing: border-box;

}

.form-control:focus{
  border: none;
  border-bottom: 1px solid #130730;
  outline: none;
}

.form button{
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .1em;
  height: 3em;
  width: calc(100%);
}

.form h3{
  padding: 10px 5px;
}



/* End Form css */


/* Elements css */

hr{
  border:0px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.small{
  font-size: 0.8em !important;
}

.active{
  color: #f7b205 !important;
}

.mg-0{
  margin: 0px;
}

.pd-0{
  padding: : 0px;
}

/* End Elements css */
