/* Media queries css */

@media only screen and (max-width: 768px){
  nav div{
    padding: 4px 20px;
  }
  nav .hamburger{
    display: block;
  }
  nav a{
    padding-left:5px!important;
  }
  nav .list{
    display: none;
    width: calc(100%);
    flex-direction: column;
  }
  nav .list-item{
    padding-top:5px;
    padding-bottom:10px;
    padding-left:20px;
  }
  .form {
    position: relative;
    margin: 0 auto;
    width: calc(100%);
  }


}

@media only screen and (max-width: 925px){
  .profile-container{
    flex-direction: column;

  }
  .personal-info{
    display: flex;
    justify-content: flex-start;
  }

  .personal-info .flex-item:first-child{
    margin-right: 20px;
  }


}
